.*/
*.zip
Debug*/
Lib/
Listings/
Objects/
RTE/
Startup/
*.uvguix.*
*.uvoptx
*.htm
__pycache__/
*.o
*.d
*.lnp
*.dep
*.axf
*.hex
*.map
*.sct
LICENSE.txt
/Drivers/CMSIS/docs
/Drivers/CMSIS/DSP
/Drivers/CMSIS/Lib
/Drivers/CMSIS/NN
/Drivers/CMSIS/RTOS
/Drivers/CMSIS/RTOS2
Template/
*.ioc
/MDK-ARM/
out.uvprojx
a.uvprojx
out.xml
*.Bak